params {
    help = false
    input = 'samples.tsv'
    step = 'mapping'
    genome = 'EB1'

    save_bam_mapped = true

    max_cpus = 8
  	max_memory = 14.GB
  	max_time = 240.h
  	single_cpu_mem = 1.GB
  	samtoolsSortMemory = '1G' // make it either 1G or 2G depending on your choice of single_cpu_mem above
	markdup_java_options = '"-Xms400m -Xmx1g"'
}
