// Initialize each params in params.genomes, catch the command line first if it was defined
// params.fasta has to be the first one
params.fasta = null
// The rest can be sorted
params.ac_loci = null
params.ac_loci_gc = null
params.bwa = null
params.chr_dir = null
params.chr_length = null
params.dbsnp = null
params.dbsnp_index = null
params.dict = null
params.fasta_fai = null
params.germline_resource = null
params.germline_resource_index = null
params.intervals = null
params.known_indels = null
params.known_indels_index = null
params.mappability = null
params.snpeff_db = null
params.species = null
params.vep_cache_version = null
